@import "tailwindcss";

.playfair-display-font {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}


.dancing-script-font {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.swiper-button-prev, .swiper-button-next {
    color: white!important;
}

.swiper-pagination-bullet-active {
    background: white !important;
}

/* .swiper-pagination {
    padding-top: 2rem;
    padding-bottom: 3rem;
} */

/* Auto-scrolling skills animation */
@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}